{% macro columns() %}
  {{ apos.area(data.page, 'main', {
    blockLevelControls: true,
    widgets: {
      'museum-one-column': {},
      'museum-two-column': {},
      'museum-three-column': {}
    }
  }) }}
{% endmacro %}

{% macro column(parent, name, imageSize) %}
  {{ apos.area(parent, name, {
      widgets: {
        'apostrophe-rich-text': {
          toolbar: [ 'Styles', 'Bold', 'Italic', 'Link', 'Unlink' ]
        },
        'apostrophe-images': {
          size: imageSize
        },
        'apostrophe-video': {}
      }
    })
  }} 
{% endmacro %}